.App {
  text-align: center;
  height: 100vh;

}

body {
  background-color: lightgray;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(111, 193, 193);
  padding: 11px 0px 11px 0px;
  border: 2px solid rgb(58, 171, 242);
  width: 100vw;
}

.home-button {
  padding: 0px 120px 0px 30px;
}

.home-header {
  font-size: 2.5vw;
  margin: 40px;
}

.home-main-body {
  font-size: 1.5vw;
  margin: 30px 80px 0px 80px
}

.horizontal {
  position: absolute;
  left: 5%;
  width: 90%;
  border: 2px solid rgb(111,193, 193);
}

.bottom {
  font-size: 1.5vw;
  padding: 15px;
}

.imperial {
  background-color: orange;
  font-size: 20px;
  margin: 40px 0px 0px 0px;
}

.metric {
  background-color: red;
  padding: 0px 11.5px;
  font-size: 20px;
  margin: 20px 0px 0px 0px;

}

.imp-header {
  font-size: 2.25vw;
}

.imp-body {
  margin: 40px 20px 50px 20px;
  font-size: 1.5vw;
}

.imp-horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}

.imp-weight {
  margin: 40px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
  width: 60px;
}

.icon-weight {
  position: absolute;
  top: 362px;
  right: 500px;
}

.icon-weight-met {
  position: absolute;
  top: 347px;
  right: 500px;
}

.imp-feet {
  margin: 30px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
  width:40px
}

.imp-inches {
  margin: 30px 0px 20px 20px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
  width:40px;
}

.icon-height {
  position: absolute;
  top: 455px;
  right: 512px;
}

.icon-height-met {
  position: absolute;
  top: 442px;
  right: 512px;
}

.imp-submit-button {
  background-color: orange;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  border: 1px solid orange;
  margin: 30px;
  font-size: 1.5vw;
}

.met-body {
  margin: 40px 20px 50px 20px;
  font-size: 1.5vw;
}

.met-horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}

.met-weight {
  margin: 40px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.met-height {
  margin: 30px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.met-submit-button {
  background-color: orange;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  border: 1px solid orange;
  margin: 30px;
  font-size: 1.5vw;
}

.met-results-top {
  margin: 40px;
  font-size: 1.5vw;
}

.met-results-horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}

.results-met-bottom {
  margin: 50px 80px 70px 80px;
  font-size: 1.75vw;
  padding: 30px 0px 0px 0px;
}

.why-header {
  font-size: 2.25vw
}

.why-top {
  margin: 20px 80px 40px 80px ;
  font-size: 1.75vw;
}

.why-middle {
  padding: 5px 0px 20px 0px;
  margin: 0px 60px;
  font-size: 1.75vw;
}

.why-bottom {
  padding: 10px;
}



footer {
  margin: auto;
  display: flex;
  flex-shrink: 0;
  width: 100vw;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  border: 2px solid rgb(58, 171, 242);
  background-color: rgb(111, 193, 193);
  padding: 0px;
}

footer a {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  height: 40%;
}

.link { 
  display: flex;
  justify-content: flex-end; 
  padding: 10px 20px 10px 30px;
  width: 10%;
  height: 10%;
} 

 .git { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
   align-self: flex-end;
  padding: 10px 0px 10px 0px;
  width: 10%;
  height: 10%;
}






@media only screen and (max-width: 500px) {


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(111, 193, 193);
  padding: 11px 0px 11px 0px;
  border: 2px solid rgb(58, 171, 242);
}

.home-button {
  padding: 0px 40px 0px 30px;
}

.home-header {
  font-size: 7vw;
}

.home-main-body {
  font-size: 4.5vw;
  margin: 30px 30px 0px 30px
}

.bottom {
  font-size: 4.5vw;
  padding: 15px;
}

.imperial {
  background-color: orange;
  font-size: 20px;
  margin: 5px 0px 0px 0px;
}

.metric {
  background-color: red;
  padding: 0px 11.5px;
  font-size: 20px;
  margin: 10px 0px 0px 0px;

}

.imp-header {
  font-size: 7vw;
}

.imp-body {
  margin: 40px 20px 50px 20px;
  font-size: 5vw;
}

.imp-horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}

.imp-weight {
  margin: 40px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.imp-height {
  margin: 30px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.imp-submit-button {
  background-color: orange;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  border: 1px solid orange;
  margin: 30px;
  font-size: 5vw;
}

.met-body {
  margin: 40px 20px 50px 20px;
  font-size: 5vw;
}

.met-horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}

.met-weight {
  margin: 40px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.met-height {
  margin: 30px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.met-submit-button {
  background-color: orange;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  border: 1px solid orange;
  margin: 30px;
  font-size: 5vw;
}

.results-metric {
  text-align: center;
}

.met-results-top {
  margin: 40px;
  font-size: 4vw;
}

.met-results-horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}

.results-met-bottom {
  margin: 50px 30px 70px 30px;
  font-size: 5vw;
  padding: 30px 0px 0px 0px;
}

.why-header {
  font-size: 7vw;
}

.why-top {
  margin: 20px 40px 40px 40px ;
  font-size: 5vw;
}

.why-middle {
  padding: 5px 0px 20px 0px;
  margin: 0px 30px;
  font-size: 5vw;
}

.why-bottom {
  padding: 10px;
}


footer {
  margin: auto;
  display: flex;
  flex-shrink: 0;
  width: 100vw;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  border: 2px solid rgb(58, 171, 242);
  background-color: rgb(111, 193, 193);
  padding: 0px;
}

footer a {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  height: 40%;
}

.link { 
  display: flex;
  justify-content: flex-end; 
  padding: 10px 20px 10px 30px;
  width: 10%;
  height: 10%;
} 

 .git { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
   align-self: flex-end;
  padding: 10px 0px 10px 0px;
  width: 10%;
  height: 10%;
}


}






