.App {
  text-align: center;
  height: 100vh;

}
/* h1 {
  display: flex;
  flex-direction: row;
  background-color: teal;
} */

body {
  background-color: lightgray;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(111, 193, 193);
  padding: 11px 0px 11px 0px;
  border: 2px solid rgb(58, 171, 242);
}



.home-button {
  padding: 0px 40px 0px 30px;
}

.home-main-body {
  font-size: 4vw;
  margin: 30px 30px 0px 30px
}

.bottom {
  padding: 15px;
}

.imperial {
  background-color: orange;
  font-size: 20px;
  margin: 50px 0px 0px 0px;
}

.metric {
  background-color: red;
  padding: 0px 11.5px;
  font-size: 20px;
  margin: 30px 0px 0px 0px;

}

.imp-body {
  margin: 40px 20px 50px 20px;
  font-size: 5vw;
}

.imp-horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}

.imp-weight {
  margin: 40px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.imp-height {
  margin: 30px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.imp-submit-button {
  background-color: orange;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  border: 1px solid orange;
  margin: 30px;
  font-size: 5vw;
}

.met-body {
  margin: 40px 20px 50px 20px;
  font-size: 5vw;
}

.met-horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}

.met-weight {
  margin: 40px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.met-height {
  margin: 30px 0px 20px 0px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black;
}

.met-submit-button {
  background-color: orange;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  border: 1px solid orange;
  margin: 30px;
  font-size: 5vw;
}

.results-metric {
  text-align: center;
}

.met-results-top {
  margin: 40px;
}

.met-results-horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}

.results-met-bottom {
  margin: 50px 30px 70px 30px;
  font-size: 5vw;
  padding: 30px 0px 0px 0px;
}

.why-top {
  margin: 20px 40px 40px 40px ;
  font-size: 5vw;
}

.why-middle {
  padding: 5px 0px 20px 0px;
  margin: 0px 30px;
  font-size: 5vw;
}

.why-bottom {
  padding: 10px;
}


footer {
  margin: auto;
  display: flex;
  flex-shrink: 0;
  width: 100vw;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  border: 2px solid rgb(58, 171, 242);
  background-color: rgb(111, 193, 193);
  padding: 0px;
}

footer a {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  height: 40%;
}

.link { 
  display: flex;
  justify-content: flex-end; 
  padding: 10px 20px 10px 30px;
  width: 10%;
  height: 10%;
} 

 .git { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
   align-self: flex-end;
  padding: 10px 0px 10px 0px;
  width: 10%;
  height: 10%;
}









.horizontal {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 2px solid rgb(111,193, 193);
}


.weight {
  background-color: cyan;
  margin: 30px;
}

.height {
  background-color: darkgoldenrod;
  margin: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
