/* iPhone 6/7/8 */
.header {
  font-size: 7vw;
}

.home_links {
  display: flex;
  justify-content: space-evenly;
}

.body {
  font-size: 5vw;
  margin: 10px;
  padding: 20px 0px;
}

.info_button {
  border-radius: 4px;
  background-color: rgb(111,193, 193);
  font-size: 4vw;
  margin: 20px;
  margin-bottom: 100px;
}

/* Desktop */
@media only screen and (min-width: 1000px) {
  .header {
    font-size: 2.25vw;
    margin: 40px;
  }

  .body {
    margin: 30px 20px 20px 20px;
    padding: 20px 0px;
    font-size: 1.75vw;
  }

  .info_button {
    font-size: 2vw;
  }
}
