.header {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(53, 201, 179);
  padding: 11px 20px;
  border-bottom: 4px solid rgb(0, 0, 255);
}

.nav_button {
  height: 30px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color:rgb(0, 0, 255);
  font-weight: 900;
  font-size: 5vw;
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 11px 100px;
  }
  
  .nav_button {
    font-size: 2vw;
  }
}
