.input {
  margin: 30px 0px 20px 10px;
  padding: 3px 2px;
  border-radius: 7px;
  border: 2px solid black; 
}

/* .icon_heart {
  display: hide;
} */

.submit {
  background-color: orange;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  border: 1px solid orange;
  margin: 30px;
  font-size: 5vw;
}

@media only screen and (min-width: 1000px) {
  .input {
    margin: 30px 0px 20px 300px;
  }

  .icon_heart {
    padding: 0px 100px;
    width: 10%;
  
  }
  
  .submit {
    font-size: 1.5vw;
  }

}