.header {
  font-size: 7vw;
}

.body {
  font-size: 5vw;
  margin: 5px;
  padding: 20px 0px;
}

.reference {
  font-size: 2.75vw;
}

/* .test {
  padding-bottom: 100px;
} */

.info_button {
  border-radius: 4px;
  background-color: rgb(111,193, 193);
  font-size: 4vw;
  margin-bottom: 100px;
}


@media only screen and (min-width: 1000px) {
  .header {
    font-size: 2.25vw;
  }
  
  .body {
    font-size: 1.75vw;
  }
  
  .reference {
    font-size: 1vw;
  }
  
  .info_button {
    font-size: 1.5vw;
  }

}